<div class="login-wrapper">
  <div class="container">
    <div class="container-box">
      <div class="login-title">
        <h2>Sign up</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="email-area">
          <div class="field">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"form-box" %>
          </div>
        </div>

        <div class="email-area">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-box" %>
          </div>
        </div>

        <div class="email-area">
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-box" %>
          </div>
        </div>

        <div class="password-area">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-box" %>
          </div>
        </div>

        <div class="login-btn-area">
          <div class="actions">
            <%= f.submit "Sign up", class:"login-btn-box" %>
          </div>
        </div>
      <% end %>
      <div class="login-bottom">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
