<div class="wrapper">
  <ul class="show-lists hidden" id="pull-down">
    <li><%= link_to "phrase1", "/categories/1", class: "category" %></li>
    <li><%= link_to "phrase2", "/categories/2", class: "category" %></li>
    <li><%= link_to "phrase3", "/categories/3", class: "category" %></li>
    <li><%= link_to "phrase4", "/categories/4", class: "category" %></li>
    <li><%= link_to "phrase5", "/categories/5", class: "category" %></li>
    <li><%= link_to "phrase6", "/categories/6", class: "category" %></li>
    <li><%= link_to "phrase7", "/categories/7", class: "category" %></li>
    <li><%= link_to "phrase8", "/categories/8", class: "category" %></li>
    <li><%= link_to "phrase9", "/categories/9", class: "category" %></li>
    <li><%= link_to "phrase10", "/categories/10", class: "category" %></li>
  </ul>
</div>