<div class="user-wrapper">
  <div class="user-left">
    <div class="user-left-title">
      <%= @nickname %>さんのマイページ
    </div>
    <div class="user-box-area">
      <% @results.each do |result| %>
        <div class="user-box">
          <div class="user-box-left">
            <div class="result-date">
              <%= l result.created_at %>
            </div>
            <div class="result-phrase">
              <%= result.category.name %>：
            </div>
          </div>
          <div class="user-box-right">
            <%= link_to "削除", category_result_path(result.id), method: :delete, class: "delete-answer-count"%>
            <div class="result-answer-count">
              <%= result.answer_count %><span class="times">times</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-right">
    <div class="user-right-phrase-area">
      <div class="user-right-title">Phrase</div>
      <div class="user-right-phrase">Phrase1</div>
      <div class="user-right-phrase">Phrase2</div>
      <div class="user-right-phrase">Phrase3</div>
      <div class="user-right-phrase">Phrase4</div>
      <div class="user-right-phrase">Phrase5</div>
      <div class="user-right-phrase">Phrase6</div>
      <div class="user-right-phrase">Phrase7</div>
      <div class="user-right-phrase">Phrase8</div>
      <div class="user-right-phrase">Phrase9</div>
      <div class="user-right-phrase">Phrase10</div>
    </div>
    <div class="user-right-best-area">
      <div class="user-right-title">Best</div>
      <% if current_user.result_first? %>
        <div class="user-right-best"><%= current_user.result_maxmum_first %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
      <% if current_user.result_second? %>
        <div class="user-right-best"><%= current_user.result_maxmum_second %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
      <% if current_user.result_third? %>
        <div class="user-right-best"><%= current_user.result_maxmum_third %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
      <% if current_user.result_fourth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_fourth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
      <% if current_user.result_fifth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_fifth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
       <% if current_user.result_sixth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_sixth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
       <% if current_user.result_seventh? %>
        <div class="user-right-best"><%= current_user.result_maxmum_seventh %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
       <% if current_user.result_eighth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_eighth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
       <% if current_user.result_nineth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_nineth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
       <% if current_user.result_tenth? %>
        <div class="user-right-best"><%= current_user.result_maxmum_tenth %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-best">-</div>
      <% end %>
    </div>
    <div class="user-right-average-area">
      <div class="user-right-title">Average</div>
      <% if current_user.result_first? %>
        <div class="user-right-average"><%= current_user.result_average_first %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_second? %>
        <div class="user-right-average"><%= current_user.result_average_second %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_third? %>
        <div class="user-right-average"><%= current_user.result_average_third %><span class="times">times</span></div>
      <% else %>
        <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_fourth? %>
        <div class="user-right-average"><%= current_user.result_average_fourth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_fifth? %>
        <div class="user-right-average"><%= current_user.result_average_fifth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_sixth? %>
        <div class="user-right-average"><%= current_user.result_average_sixth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_seventh? %>
        <div class="user-right-average"><%= current_user.result_average_seventh %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_eighth? %>
        <div class="user-right-average"><%= current_user.result_average_eighth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_nineth? %>
        <div class="user-right-average"><%= current_user.result_average_nineth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
      <% if current_user.result_tenth? %>
        <div class="user-right-average"><%= current_user.result_average_tenth %><span class="times">times</span></div>
      <% else %>
         <div class="user-right-average">-</div>
      <% end %>
    </div>
  </div>
</div>