    <div class="header">
      <%= link_to 'Flash Practice', root_path, class: "title"%>
      <div class="header-right">
        <% if user_signed_in? %>
          <%= link_to 'Mypage', user_path(current_user), class: "mypage" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "sign-in-btn" %>
        <% else %>  
          <%= link_to "Login", new_user_session_path, class: "sign-in-btn" %>
          <%= link_to "Signup", new_user_registration_path, class: "mypage" %>
        <% end %> 
          <div class="sentences-btn" id="lists">Sentences</div>
            <ul class="show-lists hidden" id="pull-down">
              <li><%= link_to "phrase 1　英文一覧", "/categories/1", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/1"></a></li>
              <li><%= link_to "phrase 2　英文一覧", "/categories/2", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/2"></a></li>
              <li><%= link_to "phrase 3　英文一覧", "/categories/3", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/3"></a></li>
              <li><%= link_to "phrase 4　英文一覧", "/categories/4", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/4"></a></li>
              <li><%= link_to "phrase 5　英文一覧", "/categories/5", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/5"></a></li>
              <li><%= link_to "phrase 6　英文一覧", "/categories/6", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/6"></a></li>
              <li><%= link_to "phrase 7　英文一覧", "/categories/7", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/7"></a></li>
              <li><%= link_to "phrase 8　英文一覧", "/categories/8", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/8"></a></li>
              <li><%= link_to "phrase 9　英文一覧", "/categories/9", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/9"></a></li>
              <li><%= link_to "phrase10　英文一覧", "/categories/10", class: "category" %><a class="fas fa-fw right-arrow faa-passing animated" href="/categories/10"></a></li>
            </ul> 
      </div>
    </div>