<div class="wrapper">
  <div class="timer-area">
    <div id="log">
      STARTを押すと1分タイマーが始まります！
    </div>
  </div>
  
  <div class="sentence-area">
    <div class="sentence-box" id="sentence">
      <div class="sentence-text">
      <div class="sentence-top">１分間で、何問答えられるか挑戦してみましょう！</div>
      <i class="fas fa-music faa-wrench animated music"></i>
      <div class="sentence-description">・NEXTを押すと問題が表示され、押すたびに問題が切り替わります。PASSを押しても問題は切り替わりますが、回答数がマイナスカウントされます。</div>
      <i class="fas fa-music faa-wrench animated music"></i>
      <div class="sentence-description">・回答数の数字を下のフォームに入力し、保存ボタンを押せば結果がマイページに保存されます。</div>
      </div>
    </div>
    <div class="sentence-area-right">
      <div class="next-count" id="count">
        出題数：０
      </div>
      <div class="pass-count" id="pass-count">
        パス数：０
      </div>
      <div class="total-count" id="total-count">
        回答数：０
      </div>
    </div>  
  </div>

  <div class="sentence-bottom">
    <div class="pass-btn" id="pass">
      PASS
    </div>
    <div class="next-btn" id="next" data-id=<%= @category.id %>>
      NEXT
    </div>
    <div class="start-btn" id="start">
      START
    </div>
    <div class="reset-btn" id="reset">
      RESET
    </div>
    <%= form_with model: [@category, @result], local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="answer-count-area">
          <%= f.text_field :answer_count, class: "select-count", placeholder: "回答数" %>
          <%= f.submit "保存", class: 'submit' %>
        </div>
      <% end %>
  </div>

</div>


