<!DOCTYPE html>
<html>
  <head>
    <title>FlashPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to 'Flash Practice', "#", class: "title"%>
      <div class="header-right">
        <%= link_to 'MyPage', user_path(current_user), class: "mypage"%>
        <%= link_to 'Sentences', "#", class: "sentences-btn"%>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
    </div>
  </body>
</html>
